<a href="https://colab.research.google.com/github/Archana2523Git/Alfido-Tech-Internship/blob/main/Task-1/data_preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#  Task 1: Data Preprocessing for AI using Pandas + Sklearn

import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split

In [2]:


# Step 1: Create sample dataset
data = pd.DataFrame({
    'Name': ['Archana', 'Amit', 'Sara', 'Vikram', 'John'],
    'Age': [21, 22, 21, np.nan, 23],
    'Marks': [85, 78, 92, 88, np.nan]
})

print("Original Data:\n", data)

Original Data:
       Name   Age  Marks
0  Archana  21.0   85.0
1     Amit  22.0   78.0
2     Sara  21.0   92.0
3   Vikram   NaN   88.0
4     John  23.0    NaN

In [3]:
# Step 2: Fill missing values
data['Age'].fillna(data['Age'].mean(), inplace=True)
data['Marks'].fillna(data['Marks'].mean(), inplace=True)

print("\nCleaned Data:\n", data)

Cleaned Data:
       Name    Age  Marks
0  Archana  21.00  85.00
1     Amit  22.00  78.00
2     Sara  21.00  92.00
3   Vikram  21.75  88.00
4     John  23.00  85.75

/tmp/ipython-input-3-2168208306.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Age'].fillna(data['Age'].mean(), inplace=True)
/tmp/ipython-input-3-2168208306.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Marks'].fillna(data['Marks'].mean(), inplace=True)

In [4]:
# Step 3: Drop non-numeric column for modeling
data = data.drop('Name', axis=1)

In [5]:
# Step 4: Normalize using MinMaxScaler
scaler = MinMaxScaler()
normalized = scaler.fit_transform(data)
normalized_df = pd.DataFrame(normalized, columns=data.columns)

print("\nNormalized Data:\n", normalized_df)

Normalized Data:
      Age     Marks
0  0.000  0.500000
1  0.500  0.000000
2  0.000  1.000000
3  0.375  0.714286
4  1.000  0.553571

In [6]:
# Step 5: Prepare Features & Labels
X = normalized_df.drop('Marks', axis=1)
y = normalized_df['Marks']

In [7]:
# Step 6: Split data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

print("\nX_train:\n", X_train)
print("\ny_train:\n", y_train)
print("\nX_test:\n", X_test)
print("\ny_test:\n", y_test)

X_train:
      Age
4  1.000
2  0.000
0  0.000
3  0.375

y_train:
 4    0.553571
2    1.000000
0    0.500000
3    0.714286
Name: Marks, dtype: float64

X_test:
    Age
1  0.5

y_test:
 1    0.0
Name: Marks, dtype: float64